<!-- View for showing a single `Post` -->
<div>
  <div>
    <h1>
      <%= @post.title %>
    </h1>
    <p>
      Body: <%= @post.body %>
    </p>
  </div>
  <div>
    <%= button_to 'Delete Post', post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
</div>